body{
  position:absolute;
}
.fersth1{
  color: red;
  text-align: center;
  font-size: 100px;
}
.hed{
  display: inline;

}
.typetext{
border:20px solid blue;
background-color: black;
color: aliceblue;
text-align: center;
height: 200px;
width: 20%;
position: absolute;
}
.hypetext{
  border:20px solid blue;
background-color: black;
color: aliceblue;
text-align: center;
height: 200px;
width: 20%;
margin-left: 50%;
position: absolute;
}
.sypetext{
  border:20px solid blue;
background-color: black;
color: aliceblue;
text-align: center;
height: 200px;
width: 20%;
margin-left: 99%;
position: absolute;
}
#hi{
  margin-top: 1s;
}

 